@import '/styles/main.module.scss';

.position {
    display: flex;
    justify-content: center;
    padding-bottom: 4rem;
}

.description {
    @include FontSizeNormal;
    font-weight: $fontWeightMedium;
    line-height: calc(#{$lineHeightDefault} * 1.8);
    text-align: left;

    @media (max-width: 950px) {
        line-height: calc(#{$lineHeightDefault} * 1.4);
    }
}