@import '/styles/main.module.scss';

.inputGroup {
    display: flex;
    flex-direction: column;
}

.name {
    @include FontSizeXLarge;
    font-weight: $fontWeightSemiBold;
    padding: 3rem 0 1rem 0;
}

.inputField {
    @include FontSizeMedium;
    font-weight: $fontWeightMedium;
    border: none;
    border-radius: 0.3rem;
    overflow: hidden;
    outline: none;
    padding: 1rem 4rem;
    text-transform: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    cursor: pointer;

    &_message {
        padding: 9rem;
    }
}