.section {
    padding: 4rem 0;
}

.inner {
    width: 92%;
    max-width: 1240px;
    margin: 0 auto;
}

.gradient {
    background: $gradientBg;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 0 1rem;
}

.title {
    padding-bottom: 3rem;
    font-size: $fontSizeTitle;
    font-weight: $fontWeightBold;
}

.text {
    padding-bottom: 6rem;
    width: 80%;
    font-size: $fontSizeLarge;
    font-weight: $fontWeightMedium;
    line-height: $lineHeightDefault * 2;
}


.image {
    transition: 0.8s;
    cursor: pointer;
}

.last {
    padding-bottom: 5rem;
}