@import '/styles/main.module.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: $fontDefault;
  background-color: $colorBg;
  color: $colorFontWhite;
  font-size: $fontSizeDefault;
  line-height: $lineHeightDefault;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

* {
  box-sizing: border-box;
}