@import '/styles/main.module.scss';
@import '/styles/componentStyles.module.scss';

.position {
    display: flex;
    flex-direction: column;
}

.portfolio {
    padding: 4rem;
    width: 100%;
    box-shadow: 0 0 70px $colorBorder;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    transition: transform 0.3s;
    cursor: pointer;

    &:hover {
        transform: scale(1.1);
    }
}

.number {
    font-size: $fontSizeTitle;
    font-weight: $fontWeightBold;
}

.project {
    padding-right: 3rem;
    width: 55%;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.name {
    padding-bottom: 1.5rem;
    font-size: 2.2rem;
    font-weight: $fontWeightBold;
    text-align: center;
}

.description {
    padding-bottom: 1rem;
    font-size: $fontSizeNormal;
    font-weight: $fontWeightMedium;
    line-height: $lineHeightDefault * 1.8;
    text-align: left;
}

.icon__position {
    padding: 1rem 0 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.icon {
    padding: 1rem 1rem;
    border: 0.1rem solid $colorFontWhite;
    display: flex;
    align-items: center;
    border-radius: 0.3rem;
    cursor: pointer;

    &:hover {
        transition: transform 0.2s;
        transform: scale(1.1);
    }
}

.link {
    margin-left: 1rem;
    font-size: $fontSizeLarge;
}

.btn {
    padding: 1.4rem 1rem;
    font-size: $fontSizeLarge;
    font-weight: $fontWeightSemiBold;
    border: 0.1rem solid $colorFontWhite;
    border-radius: 0.3rem;
    background: $colorPurple;
    transition: 1s;
    cursor: pointer;

    &:hover {
        transition: transform 0.2s;
        transform: scale(1.1);
    }
}

.image__position {
    display: flex;
    align-items: center;
}

.border {
    margin: 4rem 0;
    border-bottom: 0.5px solid $colorBorder;
}