.section {
    padding: 4rem 0;
}

.inner {
    width: 92%;
    max-width: 1240px;
    margin: 0 auto;
}

.border {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 4rem;
}