@import '/styles/main.module.scss';

.section {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.position {
    display: flex;
    flex-direction: column;
}

.main {
    text-align: center;
}

.title {
    @include FontSizeTitle;
    font-weight: $fontWeightBold;
}

.subtitle {
    padding: 4rem 0 1rem 0;

    @media (max-width: 992px) {
        padding: 1.8rem 0 0.8rem 0;
    }

    &_text {
        @include FontSizeSubtitle;
        font-weight: $fontWeightBold;
        background: $gradientBg;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.position_text {
    width: 100%;
    display: flex;
    justify-content: center;
}

.text {
    @include FontSizeLarge;
    width: 75%;
    padding: 2.3rem 0;
    font-weight: $fontWeightMedium;
    line-height: calc(#{$lineHeightDefault} * 2.3);

    @media (max-width: 992px) {
        width: 85%;
        padding: 1.5rem 0;
        line-height: calc(#{$lineHeightDefault} * 2);
    }

    @media (max-width: 768px) {
        width: 100%;
        line-height: calc(#{$lineHeightDefault} * 1.8);
        padding: 1rem 0;
    }
}

.icons {
    gap: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    padding: 0.8rem;
    cursor: pointer;
    max-width: 100%;

    &:hover {
        transition: transform 0.2s;
        transform: scale(1.1);
        box-shadow: 0 0 40px $colorBorder;
        border-radius: 100px;
    }
}