@import '/styles/main.module.scss';

.section {
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.position {
    display: flex;
    flex-direction: column;
}

.main {
    text-align: center;
}

.title {
    font-size: 4.8rem;
    font-weight: $fontWeightBold;
}

.subtitle {
    padding: 4rem 0 1rem 0;
}

.subtitle_text {
    font-size: 3.8rem;
    font-weight: $fontWeightBold;
    background: $gradientBg;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.position_text {
    width: 100%;
    display: flex;
    justify-content: center;
}

.text {
    width: 75%;
    padding: 2.3rem 0;
    font-size: $fontSizeLarge;
    font-weight: $fontWeightMedium;
    line-height: $lineHeightDefault * 2.3;
}

.icons {
    gap: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    padding: 0.8rem;
    cursor: pointer;

    &:hover {
        transition: transform 0.2s;
        transform: scale(1.1);
        box-shadow: 0 0 40px $colorBorder;
        border-radius: 100px;
    }
}