// FONT COLORS
$colorFontWhite: #FFFFFF;


// BACKGROUND COLORS
$colorBg: #0E1129;
$colorBgGradient: -webkit-linear-gradient(45deg, #0E1129, #1E2457);
$gradientBg: -webkit-linear-gradient(#5f50fd, #6f51fe, #bd49ea);

// BUTTON COLORS
$colorPurple: #6f51fe;


// BORDER COLORS
$colorBorder: #231d5c;