@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

// FONT DEFAULT SIZE
$fontSizeDefault: 16px;

// FONT FAMILIES
$fontDefault: 'Montserrat', sans-serif;

// FONT-WEIGHTS
$fontWeightMedium: 500;
$fontWeightSemiBold: 600;
$fontWeightBold: 700;


// FONT SIZES
$fontSizeTitle: 2.8rem;
$fontSizeNormal: 1.1rem;
$fontSizeMedium: 1.2rem;
$fontSizeLarge: 1.3rem;
$fontSizeXLarge: 1.4rem;


// LINE HEIGHT
$lineHeightDefault: 1rem;


// LETTER SPACING
$letterSpacingDefault: 1px;