@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

// FONT DEFAULT SIZE
$fontSizeDefault: 16px;


//FONT FAMILIES
$fontDefault: 'Poppins', sans-serif;


// FONT-WEIGHTS
$fontWeightMedium: 500;
$fontWeightSemiBold: 600;
$fontWeightBold: 700;


// FONT SIZES


// LINE HEIGHT
$lineHeightDefault: 1rem;