@import '/styles/main.module.scss';

.position {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 4rem;
}

.text {
    @include FontSizeXLarge;
}

.form {
    width: 60%;
}

.btn_position {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
}

.btn {
    @include FontSizeXLarge;
    font-weight: $fontWeightSemiBold;
    width: 60%;
    color: $colorFontWhite;
    background-color: $colorPurple;
    padding: 0.9rem 0;
    border: 0.1rem solid $colorFontWhite;
    border-radius: 0.3rem;
    transition: 1s;
    cursor: pointer;

    &:hover {
        transition: transform 0.5s;
        transform: scale(1.1);
    }
}