@import '/styles/main.module.scss';

.position {
    position: relative;
}

.text {
    position: absolute;
    padding: 1.5rem;
    width: 100%;
    border-top: 0.1rem solid $colorBorder;
    font-weight: $fontWeightMedium;
    text-align: right;
}