@import '/styles/main.module.scss';

.footer {
    padding: 1.5rem;
    border-top: 0.1rem solid $colorBorder;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @media (max-width: 768px) {
        padding: 0.5rem;
    }
}

.text {
    @include FontSizeNormal;
    font-weight: $fontWeightMedium;
}